In [ ]:
# Author: Khushbu Patel
# Date: 2/23/2023
# Description: Changing the iris dataframe

In [ ]:
import pandas as pd

import numpy as np

import seaborn as sns

In [ ]:
#insert iris dataset and store into dataframe
iris = sns.load_dataset('iris')

In [ ]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [ ]:
iris = iris.drop(labels = "species", axis = 1)

In [ ]:
iris["sepal_sum"] = iris["sepal_length"] + iris["sepal_width"]

In [ ]:
iris["petal_sum"] = iris["petal_length"] + iris["petal_width"]

In [ ]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width  sepal_sum  petal_sum
0           5.1          3.5           1.4          0.2        8.6        1.6
1           4.9          3.0           1.4          0.2        7.9        1.6
2           4.7          3.2           1.3          0.2        7.9        1.5
3           4.6          3.1           1.5          0.2        7.7        1.7
4           5.0          3.6           1.4          0.2        8.6        1.6

In [ ]:
mean = [np.mean(iris['sepal_length']), 
        np.mean(iris['sepal_width']), 
        np.mean(iris['sepal_sum']),
        np.mean(iris['petal_length']),
        np.mean(iris['petal_width']),
        np.mean(iris['petal_sum'])]

std = [np.std(iris['sepal_length']), 
        np.std(iris['sepal_width']), 
        np.std(iris['sepal_sum']),
        np.std(iris['petal_length']),
        np.std(iris['petal_width']),
        np.std(iris['petal_sum'])]

min = [np.min(iris['sepal_length']), 
        np.min(iris['sepal_width']), 
        np.min(iris['sepal_sum']),
        np.min(iris['petal_length']),
        np.min(iris['petal_width']),
        np.min(iris['petal_sum'])]

max = [np.max(iris['sepal_length']), 
        np.max(iris['sepal_width']), 
        np.max(iris['sepal_sum']),
        np.max(iris['petal_length']),
        np.max(iris['petal_width']),
        np.max(iris['petal_sum'])]

In [ ]:
mean = list(iris.mean())
std = list(iris.std())
min = list(iris.min())
max = list(iris.max())

In [ ]:
summary_dict = {'mean': mean, 'std': std, 'min': min, 'max': max}

In [ ]:
summary_df = pd.DataFrame(data = summary_dict, index = ["sepal_length","sepal_width", "sepal_sum", "petal_length", "petal_width", "petal_sum"])
summary_df

                  mean       std  min   max
sepal_length  5.843333  0.828066  4.3   7.9
sepal_width   3.057333  0.435866  2.0   4.4
sepal_sum     3.758000  1.765298  1.0   6.9
petal_length  1.199333  0.762238  0.1   2.5
petal_width   8.900667  0.889272  6.8  11.7
petal_sum     4.957333  2.507689  1.2   9.2

In [ ]:
iris.describe()

,sepal_length,sepal_width,petal_length,petal_width,sepal_sum,petal_sum
count,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333,8.900667,4.957333
std,0.828066,0.435866,1.765298,0.762238,0.889272,2.507689
min,4.300000,2.000000,1.000000,0.100000,6.800000,1.200000
25%,5.100000,2.800000,1.600000,0.300000,8.300000,1.800000
50%,5.800000,3.000000,4.350000,1.300000,8.850000,5.650000
75%,6.400000,3.300000,5.100000,1.800000,9.575000,7.000000
max,7.900000,4.400000,6.900000,2.500000,11.700000,9.200000